<div class="patient-dashboard-layout">
  <aside class="sidebar">
    <h3>Patient Menu</h3>
    <nav>
      <ul>
        <li><a routerLink="overview" routerLinkActive="active-sidebar-link">Dashboard Overview</a></li>
        <li><a routerLink="profile" routerLinkActive="active-sidebar-link">My Profile</a></li>
        <li><a routerLink="appointments" routerLinkActive="active-sidebar-link">My Appointments</a></li>
        <li><a routerLink="book-appointment" routerLinkActive="active-sidebar-link">Book New Appointment</a></li>
        <li><a routerLink="medical-records" routerLinkActive="active-sidebar-link">My Medical Records</a></li>
        <li><a (click)="logout()" class="logout-link">Logout</a></li> </ul>
    </nav>
  </aside>
  <main class="content-area">
  <router-outlet></router-outlet>
 </main>
</div>