<div class="home-page">
  <section class="hero-section slider-height d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-7 col-lg-9 col-md-10 col-sm-11">
          <div class="hero__caption">
            <span>Your health, our priority.</span>
            <h1 class="cd-headline letters scale">
              Welcome to <br />
              Kerala Mission Hospital! 
            </h1>
            <p data-animation="fadeInLeft" data-delay="0.1s">
              Access world-class medical services seamlessly.
            </p>
            <button class="btn hero-btn" (click)="handleBookAppointmentClick()">
              Book an Appointment
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="department-list-section container">
    <app-department-list-page></app-department-list-page>
  </section>

  <section class="featured-doctors-section container">
    <app-featured-doctors></app-featured-doctors>
  </section>

  <section class="hospital-info-section container">
    <app-hospital-info-snippet></app-hospital-info-snippet>
  </section>

  <section class="patient-testimonials-section container">
    <app-testimonials></app-testimonials>
  </section>

 <section class="callback-and-contact container">
  <div class="callback-contact-wrapper">
    <div class="left-section">
      <app-callback-form></app-callback-form>
    </div>
    <div class="right-section">
      <app-contact-info></app-contact-info>
    </div>
  </div>
</section>

</div>
