<div class="home-page">

  <section class="hero-section">
     <div class="hero-content container">
      <h1>Welcome to Sacred Mission Hospital!</h1>
      <p>Your health, our priority. Access world-class medical services seamlessly.</p>
      <button class="btn btn-primary btn-lg" (click)="openLogin()">Book an Appointment</button>
    </div>
  </section>

   <section class="featured-doctors-section container">
    <app-department-list-page></app-department-list-page>
  </section>

    <section class="featured-doctors-section container">
    <app-featured-doctors></app-featured-doctors>
  </section>

  <section class="hospital-info-section container">
    <app-hospital-info-snippet></app-hospital-info-snippet>
  </section>

  <section class="patient-testimonials-section container"> <app-testimonials></app-testimonials>
  </section>
  
  <section class="request-callback-section container"> <app-callback-form></app-callback-form> 
  </section>

  <section class="contact-info-display-section container"> <app-contact-info></app-contact-info>
  </section>

</div>