/* src/app/app.component.css or styles.css */



.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050; /* Ensure it's above other content like navbar */
}

.modal-content {
  background-color: #fff;
  padding: 20px 30px 30px 30px; /* More padding */
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  width: 90%;
  max-width: 500px; /* Max width for the modal */
  z-index: 1051;
  animation: fadeInModal 0.3s ease-out;
}
.main-content-area.no-public-navbar {
  padding: 20px 30px 30px 30px;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 1.8rem;
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
  line-height: 1;
}
.modal-close-button:hover {
  color: #333;
}

@keyframes fadeInModal {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

